<div class="container">

  <%# Search box %>
  <%= render "shared/search_box" %>

  <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center">

    <%# Checking to see if search results exist, if not will throw an error message %>
    <% if @movies %>

      <%# Iterating over the list of returned movies and creating a card for each %>
      <%= render "shared/search_results", movies: @movies %>
    <% else %>
      <p class="text-center">Oh no! There doesn't seem to be any movies with that name, please try again.</p>
    <% end %>
  </div>
</div>
