.card {
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card img {
  border-radius: inherit;
}

.card-bg-red {
  background-color: #ffb3ba;
}

.card-bg-yellow {
  background-color: #ffffba;
}

.card-bg-green {
  background-color: #baffc9;
}

.card-bg-blue {
  background-color: #bae1ff;
}

.card-content {
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
.card-content:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
